In [23]:
#Importar bibliotecas
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
#Novos nomes das colunas
headers = ["ID", "branch", "cidade", "tipo_cliente", "genero", "linha_de_produto", "preco_unitario", "quantidade", "taxa_5%", "total", "data", "hora", "forma_pagamento", "custo_produtos", "porcentagem_margem_bruta", "renda_bruta", "avaliacao"]

#Importar CSV
df = pd.read_csv("supermarket_sales.csv", names = headers, header = 0)

In [26]:
#Primeiras linhas do CSV
df.head()

,ID,branch,cidade,tipo_cliente,genero,linha_de_produto,preco_unitario,quantidade,taxa_5%,total,data,hora,forma_pagamento,custo_produtos,porcentagem_margem_bruta,renda_bruta,avaliacao
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [28]:
#Informações do dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        1000 non-null   object
 1   branch                    1000 non-null   object
 2   cidade                    1000 non-null   object
 3   tipo_cliente              1000 non-null   object
 4   genero                    1000 non-null   object
 5   linha_de_produto          1000 non-null   object
 6   preco_unitario            1000 non-null   float64
 7   quantidade                1000 non-null   int64
 8   taxa_5%                   1000 non-null   float64
 9   total                     1000 non-null   float64
 10  data                      1000 non-null   object
 11  hora                      1000 non-null   object
 12  forma_pagamento           1000 non-null   object
 13  custo_produtos            1000 non-null   float64
 14  porcentagem_margem_bruta  1000 non-null   float64
 15  renda_bruta               1000 non-null   float64
 16  avaliacao                 1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [30]:
#Quantidade de linhas e colunas
df.shape

(1000, 17)

In [36]:
#Verificar se há NA
df.isna().sum()

ID                          0
branch                      0
cidade                      0
tipo_cliente                0
genero                      0
linha_de_produto            0
preco_unitario              0
quantidade                  0
taxa_5%                     0
total                       0
data                        0
hora                        0
forma_pagamento             0
custo_produtos              0
porcentagem_margem_bruta    0
renda_bruta                 0
avaliacao                   0
dtype: int64

In [37]:
#Venda por cidade
df.groupby("cidade")["total"].sum()

cidade
Mandalay     106197.6720
Naypyitaw    110568.7065
Yangon       106200.3705
Name: total, dtype: float64

In [38]:
#Média por cidade
df.groupby("cidade")["avaliacao"].mean()

cidade
Mandalay     6.818072
Naypyitaw    7.072866
Yangon       7.027059
Name: avaliacao, dtype: float64